.button {
    margin-top: 1.9rem;
    padding: 1.1rem 2rem;
    background: white;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}